/*------------------------------------------------------------------------------
    File: src/less/admin/common.less
 Project: MUN Computer Science Society Website
 Version: 0.1.0
      By: Tim Oram
 Website: http://society.cs.mun.ca
   Email: muncssociety@gmail.com
------------------------------------------------------------------------------*/

@import "includes/forms";
@import "includes/notimoo.less";
@import "includes/formcheck.less";

/* Global Styles */
html {
	background:#000 url(../../images/bg/main.jpg) repeat;
	font-family: Times, Times New Roman, FreeSerif, serif;
	color:#fff;
}

body {
	font-family: Times, Times New Roman, FreeSerif, serif;
}


.hidden {
	display:none;	
}

.nojs {
	color:#fff;
	background:#AE0000;
	text-align:center;
	border-bottom:1px solid #999999;
	padding: 5px 0 3px 0;
	font-size:93%;
	font-weight:bold;
	font-family:sans-serif;
	position:fixed;
	left:0;
	width:100%;
	z-order:1000;
	top:0;
}

.nojs_pad {
	padding-bottom:25px;
}

